<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="css/style.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.7/dayjs.min.js" integrity="sha512-kZ+x2gdehn6OZMWZSp3Vt5R+v9hQTYEATQwaUfWquhxbvNVAy6IRtYs7asdyxKUTqG0I5ZqBqnzcBrpnHJCAGw==" crossorigin="anonymous"></script>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
      <title></title>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  </head>
  <body>
    <div id="root">
      <div class="container">
        <div class="left_block">
          <div class="header_left_block">
            <div class="info_user">
              <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png" alt="">
              <h3>Riccardo Ferrari</h3>
            </div>
            <div class="info_user_icons">
              <ul class="inline_list">
                <li><a href="#"><i class="fas fa-circle-notch"></i></a></li>
                <li><a href="#"><i class="fas fa-comment-alt"></i></a></li>
                <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="active_notifications">
            <div class="active_notification_icon">
              <i class="fas fa-bell-slash"></i>
            </div>
            <div class="text_active_notifications">
              <h3>Ricevi notifiche di nuovi messaggi</h3>
              <a href="">Attiva notifiche desktop</a>
            </div>
          </div>
          <div class="input_search_new_chat_field">
            <div class="input_field">
              <i class="fas fa-search"></i>
              <input  v-on:keyup.13="filtterName" type="text" name="" v-model="filter" placeholder="Cerca o inizia una nuova chat">
            </div>
          </div>
          <div class="chats_container">
            <ul class="normal_list">
              <li :class="(activeIndex == index) ? 'active': ''" v-if="contact.visible" @click="showActiveChat(index)" v-for="(contact, index) in contacts" ><img :src="contact.avatar" alt=""><span>{{contact.name}}</span></li>
            </ul>
          </div>
        </div>

        <div class="right_block">
          <div class="header_right_block">
            <div class="info_friend">
              <div class="info_friend_avatar">
                <img :src="activeChat.avatar" alt="">
              </div>
              <div class="info_friend_infos">
                <h3>{{activeChat.name}}</h3>
                <p>Ultimo Accesso alle ....</p>
              </div>
            </div>

            <div class="info_friend_icon">
              <ul class="inline_list">
                <li><a href="#"><i class="fas fa-search"></i></a></li>
                <li><a href="#"><i class="fas fa-paperclip"></i></a></li>
                <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="main_chat_field">
            <ul class="main_chat_list">
              <li v-for="(message, index) in activeChat.messages" :class="message.status"> <p>{{message.text}}</p> <span>{{message.date}}</span> </li>


              <!-- <li class="sent">Hai portato a psasso il cane?</li>
              <li class="sent">Ricordati di dargli da mangiare</li>
              <li class="received">Tutto fatto!</li> -->
            </ul>
          </div>

          <div class="footer_input_field">

            <div v-if="visible" class="emoji_container">
              <ul class="inline_list">
                <i v-for="icon in icons" :class=" icon.name + ' ' + icon.color "></i>
              </ul>
            </div>

            <div class="smile_container">
              <i @click="openEmoji" :class=" (visible) ? 'fas fa-times':'far fa-smile' "></i>
            </div>

            <input @keydown.enter="sentNewMessage" type="text" name="" v-model="newMessage" placeholder="Scrivi un messaggio">
            <div class="microphone_container">
              <i class="fas fa-microphone"></i>
            </div>

          </div>

        </div>
      </div>
    </div>

    <script src="js/main.js" charset="utf-8"></script>
  </body>
  </html>
